
/*  universal css*/
        body{
          background-color: black
        }

        @font-face {
          font-family: 'zonji';
          src: url('./Zomzi.ttf') format('truetype');

          font-weight: normal;
          font-style: normal;
        }

            @font-face {
              font-family: 'bootstrap_font';
              src: url('./glyphicons-halflings-regular.woff2') format('woff2'),
                     url('./glyphicons-halflings-regular.woff') format('woff'),
                     url('./glyphicons-halflings-regular.ttf') format('truetype');

              font-weight: normal;
              font-style: normal;
            }
                    

            .glyphicon{
                font-family:bootstrap_font;
                color:magenta;
                font-size:3em;
                position:relative;
                
            }

        
        


        


 

 

 

  



/*  index page*/



